# Registry Update Workflow
# Triggered by module repos when a new release is created
# Creates a PR to update registry.yaml with new version and checksum
#
# Required secrets in this repo:
#   - GITHUB_TOKEN (automatic) - for creating PRs
#
# Required secrets in module repos:
#   - REGISTRY_PAT - PAT with repo scope for this registry repo

name: Update Registry

on:
  repository_dispatch:
    types: [module-released]

permissions:
  contents: write
  pull-requests: write

jobs:
  update-registry:
    runs-on: ubuntu-latest
    
    steps:
      - name: Checkout registry
        uses: actions/checkout@v4
        
      - name: Update registry.yaml
        run: |
          MODULE_ID="${{ github.event.client_payload.module_id }}"
          VERSION="${{ github.event.client_payload.version }}"
          CHECKSUM="${{ github.event.client_payload.checksum }}"
          
          echo "Updating module: $MODULE_ID"
          echo "New version: $VERSION"
          echo "New checksum: $CHECKSUM"
          
          # Use yq to update the specific module entry
          yq eval -i "(.modules[] | select(.id == \"$MODULE_ID\")).version = \"$VERSION\"" registry.yaml
          yq eval -i "(.modules[] | select(.id == \"$MODULE_ID\")).checksum = \"$CHECKSUM\"" registry.yaml
          
      - name: Create Pull Request
        uses: peter-evans/create-pull-request@v6
        with:
          token: ${{ secrets.MODULES_PAT }}
          commit-message: "chore: update ${{ github.event.client_payload.module_id }} to ${{ github.event.client_payload.version }}"
          title: "Update ${{ github.event.client_payload.module_id }} to ${{ github.event.client_payload.version }}"
          body: |
            ## Module Release Update
            
            | Field | Value |
            |-------|-------|
            | Module | `${{ github.event.client_payload.module_id }}` |
            | Version | `${{ github.event.client_payload.version }}` |
            | Checksum | `${{ github.event.client_payload.checksum }}` |
            | Source | [${{ github.event.client_payload.module_repo }}](https://github.com/${{ github.event.client_payload.module_repo }}) |
            
            ### Verification
            - [ ] Version matches the release tag
            - [ ] Checksum matches the release asset
            
            ---
            *Automatically generated by module release workflow*
          branch: "registry-update/${{ github.event.client_payload.module_id }}-${{ github.event.client_payload.version }}"
          delete-branch: true
          labels: |
            automated
            registry-update
